*{
    user-select: none;
}

.box_form .camp_form{
    align-items: flex-start;
    width: 100%;
    color: var(--color-text);
}
.camp_form h3{
    font-size: 21px;
}

.camp_form .box_ipts{
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    width: 100%;
}

.box_form input, .box_form select{
    padding: 7px;
    width: 30%;
    font-size: 18px;
    background: var(--color-elements);
    border: 1px solid var(--color-elements);
    outline: none;
    border-bottom: 1px solid var(--color-text);
    color: var(--color-text);
}

.box_form input:focus, .box_form select:focus{
    border-bottom: 1px solid var(--color-primary);
}

.box_ipts input[type="date"]::-webkit-calendar-picker-indicator, 
.box_ipts input[type="week"]::-webkit-calendar-picker-indicator{
    filter: invert(0.9) brightness(100%) sepia(10%) saturate(0%) hue-rotate(30deg);
}
body.light .box_ipts input[type="date"]::-webkit-calendar-picker-indicator,
body.light .box_ipts input[type="week"]::-webkit-calendar-picker-indicator{
    filter: invert(0.8) brightness(10%) sepia(90%) saturate(100%) hue-rotate(20deg);
}

.header_form .box_action_form{
    list-style: none;
    flex-direction: row;
    gap: 15px;
}
.header_form .action_form{
    font-size: 1.35em;
    border-radius: 5px;
    color: var(--color-text);
    width: 45px;
    height: 45px;
}
.box_action_form .off{
    opacity: 0.4;
}

